<mat-toolbar class="toolbar">

  <a mat-list-item routerLink="/" routerLinkActive="drawer-list-item-active"
    #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
    [routerLinkActiveOptions]="{exact: true}" class="toolbar-item">
    <span>
      My Pantry
      <mat-icon matListIcon>local_dining</mat-icon>
    </span>
  </a>
  <a mat-list-item routerLink="/products" routerLinkActive="drawer-list-item-active" class="toolbar-item">
    <span>
      Products
      <mat-icon matListIcon>local_parking</mat-icon>
    </span>
  </a>
  <a mat-list-item routerLink="/shoppinglist" routerLinkActive="drawer-list-item-active" class="toolbar-item">
    <span>
      Shopping List
      <mat-icon matListIcon class="icon">shopping_cart</mat-icon>
    </span>
  </a>
</mat-toolbar>
<div class="main-content mat-typography">
  <router-outlet></router-outlet>
</div>
